.third{
    display: flex;
    flex: 2;
}

.previewColor {
    min-width: 100px;
    min-height: 42px;
    border: 1px solid #747bff;
    border-radius: 8px;
}

.previewImg {
    border: 1px solid #747bff;
    border-radius: 8px;
    max-height: 42px;
    max-width: 100px;
}

.mediaElementContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.divider {
    flex: 1;
}