.infoContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 35rem;
}

.nameContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.emailContainer {
    padding: 2vh 0.5vw 0 0;
    display: flex;
    flex-direction: row;
}

.nameField {
    padding: 0 0.5vw 0 0;
}

.emailInput {
    width: 100%;
}